@import 'variables';

.header-wrapper {
  height: $header-height;
  background: $header-color;

  .custom-header {
    padding: 0 $global-padding;
    display: inline-flex;
    .logo {
      :hover {
        cursor: pointer;
      }
      padding: 15px;
      height: $logo-height;
      img {
        height: $logo-height;
      }
    }

    .title {
      line-height: $header-height;
      color: white;
      font-size: 48px;
    }
  }
}
